.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
}


.App-header {
  background-color: #E1F9FF;
  width: 100%;
  height: 20%;
  padding: 10px;
  color: navy;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid navy;
}

.App-intro {
  font-size: large;
}

.title {
  margin: 5px;
}
