.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


.App-header {
  background-color: #E1F9FF;
  width: 100%;
  padding: 10px;
  color: navy;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid navy;
}

.App-intro {
  font-size: large;
}

.title {
  margin: 0px;
}
