.name-card {
  list-style: none;
  position: relative;
  background-color: ivory;
  border: 1px solid black;
  border-radius: 10px;
  height: 270px;
  width: 270px;
}

.pic-card {
  list-style: none;
  padding: 5px;
  position: relative;
  height: 275px;
  width: 275px;
}

.back,
.front {
  width: 275px;
  height: 275px;
  position: absolute;
  top: 0;
  left: 0;
}

.name-card.flipped .back {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 0.5s linear;
}

.pic-card.flipped .back {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 0.5s linear;
}

.card-desc {
  position: relative;
  word-wrap: break-word;
  margin: 5px;
  width: 250px;
}

h1 {
  align-content: center;
  word-wrap: break-word;
  padding-top: 15px;
  margin: 0px;
  display: inline-block;
}

.pic-img {
  border-radius: 10px;
}

.ocean-img{
  border-radius: 10px;
}
.cards {
  margin: 5px;
  width: 275px;
  height: 275px;
  padding: 0px;
}

.cards:hover {
  opacity: .9;
}
